# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints

# Data (IMPORTANT)
data/raw/
data/interim/
data/processed/

# Environment
.env
.venv
env/
*.egg-info/

# MacOS
.DS_Store

# Artifacts
artifacts/

# Logs
*.log
